<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">archive</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">category</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">category</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">about</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
			</li>
			<li>
				<a href="https://scholar.google.com/citations?user=1egJ2YMAAAAJ&hl=zh-CN" title="Google Scholar">
					<img width="19px" height="19px" src="/images/google.png"/>
				</a>
			</li>
			<li>
				<a href="https://www.zhihu.com/people/yanxiang-gong" title="Zhihu">
					<img width="19px" height="19px" src="/images/zhihu.png"/>
				</a>
			</li>
			<li>
				<a href="https://weibo.com/5126900473/profile?rightmod=1&wvr=6&mod=personinfo" title="Weibo">
					<img width="19px" height="19px" src="/images/weibo.png"/>
				</a>
			</li>
			<li>
				<a href="https://space.bilibili.com/11478083" title="Bilibili">
					<img width="19px" height="19px" src="/images/bilibili.png"/>
				</a>
			</li>
		</ul>		
	</div>
</header>
